<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846697499303-6i9gt777sjgu6ivf7h0035ptc5p8vqnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846697499303-6i9gt777sjgu6ivf7h0035ptc5p8vqnd</string>
	<key>API_KEY</key>
	<string>AIzaSyDVhgEve7NsSA4GVxRWPE-pdFAKA7gHvEA</string>
	<key>GCM_SENDER_ID</key>
	<string>846697499303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iamblue.Messenger-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>messenger-swiftui-62c7b</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-swiftui-62c7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846697499303:ios:b01a405c65d498b9e6e982</string>
</dict>
</plist>